{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main class="main">
        <section id="cards" class="cards">
            <!-- БОКОВОЕ МЕНЮ -->
            <aside class="cards__aside">
                <!-- начало меню фильтра -->
                <div class="cards__filter">
                    <p class="cards__menu">Меню</p>
                    <div class="cards__filter-el">
                        {% for category in categories %}
                            <div class="cards__el">
                                <a class="cards__link"
                                   href="{% url 'catalog_app:catalog' category.slug %}">{{ category.name }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- конец меню фильтра -->
            </aside>
            <!-- КОНЕЦ БОКОВОГО МЕНЮ -->
            <!-- КАРТОЧКИ ТОВАРОВ -->
            <div class="row cards__row">
                {% for product in products %}
                	<div class="col justify-content-center">
                    <div class="card">
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <div class="cards__price-btn">
                                <div class="cards__price-sum">
                                    <p class="card-text">{{ product.price }}р.
                                    </p>
                                    <p class="cards__sum">8шт.</p>
                                </div>
                                <a href="#" class="btn btn-success cards__btn">
                                    <div class="cards__basket">
                                        <img src="{% static 'img/basket2.png' %}" alt="basket">
                                    </div>
                                    <p class="cards__basket-title">В корзину</p>
                                </a>
                            </div>
                            <p class="cards__description">{{ product.description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- начало пагинации -->
                <nav aria-label="Page navigation example">
                    <ul id="pagination" class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- конец пагинации -->
            </div>
            <!-- КОНЕЦ КАРТОЧКИ ТОВАРОВ -->
        </section>
    </main>
{% endblock %}