{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'operator/style.css' %}">
    <title>{{ title }}</title>
</head>

<style>

</style>
<body>
<!-- НАЧАЛО СТРАНИЦЫ -->
<div class="container">
    <div class="wrapper">
        <div class="main-header">
            <h1>Оформление заказа оператором</h1>
            {% if messages %}
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            {% endif %}
        </div>
        <div class="main-table">
            <div class="left">
            <h2>Список доступных продуктов:</h2><br>
                <form id="addToCartLink" action="{% url 'managements_orders_app:order_create' %}" method="get">
                    {% csrf_token %}
                    <!-- Список доступных товаров -->
                    <label for="products">Выберите товары:</label><br>
                    <select id="products" name="products" required size="10" data-width="100%">
                        {% for product in products %}
                            <option value="{{ product.id }}">{{ product.name }} - {{ product.price }} руб.</option>
                        {% endfor %}
                    </select><br>
                    <label for="count">Количество</label>
                    <input type="number" value="1" id="count" name="count" min="1"><br><br>
                    <label for="comment">Предпочтения (к примеру, соус к запеченным роллам):</label><br>
                    <textarea id="comment" name="comment" cols="60" rows="3"></textarea><br><br>
                    <button type="submit" class="button_add_product">Добавить к заказу</button>
                </form>
            </div>
            <div class="right">
                {% if user_carts %}
                    <h2>Список заказанных продуктов:</h2><br>
                    {% for item in user_carts %}
                        <div>
                            <p>{{ item.product.name }}</p>
                            <p class="product-description">{{ item.product.description }}</p>
                            {% if item.description %}<p>Примечание:{{ item.description }}</p>{% endif %}
                            <p>
                                <a href="{% url 'carts_app:click_on_minus' item.id %}" class="count_link">-</a>
                                {{ item.quantity }}
                                <a href="{% url 'carts_app:click_on_plus' item.id %}" class="count_link">+</a>
                            </p>
                            <p>{{ item.sum }}</p>
                            <p><a href="{% url 'carts_app:remove_from_carts' item.id %}"><span class="red-danger">Удалить</span></a>
                            </p>
                        </div>
                    {% endfor %}
                    <hr>
                    <p>Итого: {{ user_carts.total_sum }} руб.</p>
                {% else %}
                    <h3>Корзина пуста</h3>
                {% endif %}
            </div>
        </div>
        <div class="bottom-table">
            <form action="{% url 'orders_app:operator_order_create' %}" class="form-make-operator-order" method="post">
                {% csrf_token %}
                <!-- Поля для ввода информации о заказе -->
                <label for="first_name">Имя:</label><br>
                <input class="input_client_data" type="text" id="first_name" name="first_name"
                       placeholder="Введите имя клиента" required><br><br>

                <label for="address">Адрес (оставьте по умолчанию если самовывоз):</label><br>
                <input class="input_client_data" type="text" id="address" name="address"
                       placeholder="Адрес клиента" value="{{ user.address }}" required><br><br>

                <label for="phone">Телефон:</label><br>
                <input class="input_client_data" type="tel" id="phone" name="phone" required value="{{ user.phone }}"
                placeholder="Заполнится автоматически если самовывоз"><br><br>
                
                <label for="comment">Комментарий к заказу:</label><br>
                    <textarea id="comment" name="description" cols="60" rows="3" class="input_client_data"
                    placeholder="Комментарий для повара либо курьера"></textarea><br><br>

                <label for="delivery_method">Способ доставки:</label><br>
                <select id="delivery_method" name="delivery_method" required>
                    <option value="Самовывоз">Самовывоз</option>
                    <option value="Доставка">Доставка</option>
                </select><br><br>
                <button type="submit" class="button_make_order">Сделать заказ</button>
            </form>
        </div>
    </div>
</div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let productsSelect = document.getElementById('products');
        let addToCartLink = document.querySelector('#addToCartLink');

        productsSelect.addEventListener('change', function () {
            let selectedProductId = productsSelect.value;
            addToCartLink.action = `/carts/operator_add_to_carts/${selectedProductId}/`;
        });
    });
</script>
</html>
