{% extends 'base.html' %}
{% load static %}
{% load catalog_tags %}

{% block content %}
    <main class="main">
        <section>
            <div class="order__wrapper pt-5">
                <div class="text-center mt-5">
                    <h1>Заказы</h1>
                <div>
                    <a href="{% url 'managements_orders_app:order_create' %}" class="btn btn-primary"
                    target="_blank">Новый заказ</a>
                </div>
                    <div class="orders mt-5">
                        <table class="table">
                            <thead>
                            <tr class="table-light" id="orders-table">
                                <th scope="col">#</th>
                                <th scope="col">Статус</th>
                                <th scope="col">Создан</th>
                                <th scope="col">Итого</th>
                                <th scope="col">Действие</th>
                            </tr>
                            </thead>
                            <tbody id="ordersBody">
                            {% for order in orders %}
                                <tr id="order-{{ order.id }}" class="
                                    {% if order.status == order.CREATED %}table-info
                                    {% elif order.status == order.CONFIRMED %}table-primary
                                    {% elif order.status == order.PROCESSING %}table-warning
                                    {% elif order.status == order.READY %}table-success
                                    {% elif order.status == order.ON_WAY %}table-secondary
                                    {% elif order.status == order.DELIVERED %}table-dark
                                    {% elif order.status == order.CANCELLED %}table-danger
                                    {% endif %}">
                                    <th scope="row">{{ order.id }} | {{ order.delivery_method }}</th>
                                    <td>{{ order.get_status_display }}</td>
                                    <td>{{ order.created_at }}</td>
                                    <td>{{ order.basket_history.total_sum }} руб.</td>
                                    <td>
                                        <a href="{% url 'orders_app:order' order.id %}"
                                           target="_blank">Детали</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="{% url 'managements_orders_app:change_status' order.id 1 %}">Подтвердить</a>
                                        <a href="{% url 'managements_orders_app:change_status' order.id 6 %}">Отменить</a>
                                    </td>
                                    <td><a href="{% url 'managements_orders_app:change_status' order.id 2 %}">В
                                        обработке</a></td>
                                    <td>
                                        <a href="{% url 'managements_orders_app:change_status' order.id 3 %}">Готов</a>
                                    </td>
                                    <td><a href="{% url 'managements_orders_app:change_status' order.id 4 %}">В
                                        пути</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'managements_orders_app:change_status' order.id 5 %}">Выдан</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul id="pagination" class="pagination">
                    <li class="page-item {% if not orders.has_previous %} disabled {% endif %}">
                        <a class="page-link" href="{% if orders.has_previous %}?
                {% change_params page=orders.previous_page_number %}{% else %}#{% endif %}"
                           aria-label="Previous">
                            <span aria-hidden="true">Назад</span>
                        </a>
                    </li>
                    {% for page in orders.paginator.page_range %}
                        {% if page >= orders.number|add:-2 and page <= orders.number|add:2 %}
                            <li class="page-item {% if orders.number == page %}active{% endif %} ">
                                <a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li class="page-item {% if not orders.has_next %} disabled {% endif %}">
                        <a class="page-link" href="
                            {% if orders.has_next %}?
                        {% change_params page=orders.next_page_number %}{% else %}#{% endif %}">Вперед</a>
                    </li>
                </ul>
            </nav>
        </section>
    </main>
    
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'js/orders-application.js' %}"></script>
{% endblock %}
    
