{% extends 'base.html' %}
{% load static %}

{% block content %}
	<main class="main">
        <section class="register">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="register__card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header">
                            <h3 class="text-center font-weight-light my-4">Смена пароля</h3>
                        </div>
                        <div class="card-body card-body-register">
                            <form class="register__form" action="{% url 'user_app:change_password' %}" method="post">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="id_old_password">Старый пароль</label>
                                        <input class="form-control py-4" id="id_old_password" type="password"
                                               aria-describedby="usernameHelp" name="old_password"
                                               placeholder="Введите пароль" required/>
                                        {% if form.old_password.errors %}
                                        <div class="profile-alert alert alert-danger alert-dismissible fade show"
                                             role="alert">
                                            {{ form.old_password.errors }}
                                        </div>
                                    {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="id_new_password1">Новый пароль</label>
                                        <input class="form-control py-4" id="id_new_password1" type="password"
                                               placeholder="Введите пароль" name="new_password1" required/>
                                        {% if form.new_password1.errors %}
                                        <div class="profile-alert alert alert-danger alert-dismissible fade show"
                                             role="alert">
                                            {{ form.new_password1.errors }}
                                        </div>
                                    {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="id_new_password2">Новый пароль</label>
                                        <input class="form-control py-4" id="id_new_password2" type="password"
                                               placeholder="Введите пароль" name="new_password2" required/>
                                        {% if form.new_password2.errors %}
                                        <div class="profile-alert alert alert-danger alert-dismissible fade show"
                                             role="alert">
                                            {{ form.new_password2.errors }}
                                        </div>
                                    {% endif %}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <input class="btn btn-success btn-block" type="submit" value="Сменить пароль">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}