{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="main">
        <section>
            <div class="pt-5">
                <div class="text-center mt-5">
                    <h1>Заказ №{{ order.id }}</h1>
                    <div class="orders mt-5">
                        <table class="table">
                            <thead>
                            <tr class="table-light">
                                <th scope="col">Название</th>
                                <th scope="col">Примечание</th>
                                <th scope="col">Кол-во</th>
                                <th scope="col">Цена</th>
                                <th scope="col">Сумма</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in order.basket_history.baskets %}
                                <tr>
                                    <th scope="row">{{ item.product_name }}</th>
                                    <td><p>{{ item.description }}</p><p>{{ item.sauce }}</p></td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.price }} руб.</td>
                                    <td>{{ item.sum }} руб.</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <p class="float-right h4 mt-3">Итого {{ order.basket_history.total_sum }} руб.</p>
                    </div>
                    <p class="text-center mt-5">Спасибо за покупку!</p>
                    <a class="text-center mt-5" href="{% url 'orders_app:orders' %}">Вернуться к списку заказов</a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
    
