{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="main">
        <section>
            <div class="pt-5">
                <div class="text-center mt-5">
                    <h1>Заказ №{{ order.id }}</h1>
                    <div class="orders mt-5">
                        <table class="table">
                            <thead>
                            <tr class="table-light">
                                <th scope="col">Название</th>
                                <th scope="col">Примечание</th>
                                <th scope="col">Кол-во</th>
                                <th scope="col">Цена</th>
                                <th scope="col">Сумма</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in order.basket_history.baskets %}
                                <tr>
                                    <th scope="row">{{ item.product_name }}</th>
                                    <td><p>{{ item.sauce }} {{ item.description }}</p></td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.price }} руб.</td>
                                    <td>{{ item.sum }} руб.</td>
                                </tr>
                            {% endfor %}
                            <tr>
                            {% if user.role == user.CHEF %}
                                <td><a href="{% url 'managements_orders_app:change_status' order.id 2 %}">В обработке</a></td>
                                    <td><a href="{% url 'managements_orders_app:change_status' order.id 3 %}">Готов</a></td>
                            {% endif %}
                            {% if user.role == user.OPERATOR %}
                                <td><a href="{% url 'managements_orders_app:change_status' order.id 1 %}">Подтвердить</a></td>
                                <td><a href="{% url 'managements_orders_app:change_status' order.id 6 %}">Отменить</a></td>
                                <td><a href="{% url 'managements_orders_app:change_status' order.id 5 %}">Выдан</a></td>
                            {% endif %}
                            {% if user.role == user.COURIER %}
                                <td><a href="{% url 'managements_orders_app:change_status' order.id 4 %}">В пути</a></td>
                                <td><a href="{% url 'managements_orders_app:change_status' order.id 5 %}">Выдан</a></td>
                            {% endif %}
                            </tr>
                            </tbody>
                        </table>
                    {% if user.role == user.CHEF %}
                        <p class="float-right h4 mt-3">{{ order.address }}</p>
                    {% endif %}
                    <p class="float-right h4 mt-3" style="font-size: 14px; font-style: italic">{{ order.description }}</p>
                        <p class="float-right h4 mt-3">Итого {{ order.basket_history.total_sum }} руб.</p>
                    </div>
                <div class="card-footer text-center">
                    <p class="text-center mt-5" style="font-size: 24px;">Спасибо за покупку!</p>
                    <a class="register__link text-center mt-5" style="font-size: 16px;" href="{% url 'orders_app:orders' %}">Вернуться к списку заказов</a>
                </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
    
