{% extends 'base.html' %}
{% load static %}
{% block content %}
	<main class="main">
      <section>
        <div class="order__wrapper pt-5">
          <div class="text-center mt-5">
            <h1>Заказы</h1>
            <div class="orders mt-5">
              <table class="table">
                <thead>
                  <tr class="table-light">
                    <th scope="col">#</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Создан</th>
                    <th scope="col">Итого</th>
                    <th scope="col">Действие</th>
                  </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                	<tr class="
                        {% if order.status == order.CREATED %}table-info
                        {% elif order.status == order.CONFIRMED %}table-primary
                        {% elif order.status == order.PROCESSING %}table-warning
                        {% elif order.status == order.READY %}table-success
                        {% elif order.status == order.ON_WAY %}table-secondary
                        {% elif order.status == order.DELIVERED %}table-dark
                        {% elif order.status == order.CANCELLED %}table-danger
                        {% endif %}">
                    <th scope="row">{{ order.id }}</th>
                    <td>{{ order.get_status_display }}</td>
                    <td>{{ order.created_at }}</td>
                    <td>{{ order.basket_history.total_sum }} руб.</td>
                    <td>
                      <a href="{% url 'orders_app:order' order.id %}">Детали</a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </main>
{% endblock %}
    
